:root {
  --theme-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --footer-links-color: rgba(255, 255, 255, 0.6);

  --font-bg-color: #ffffff;

  --bg-color-primary: #e5e5e5;
  --bg-color-secondary: #f5f4fa;
  --bg-color-add: #2f303a;
}

/* remove bullets */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* remove link underline */
a {
  text-decoration: none;
}

/* buttons style */
.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--font-bg-color);
}

body {
  color: var(--theme-color);
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color-primary);
}

/* page header */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--theme-color);
  background-color: var(--font-bg-color);
}
/* header container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
}

/* logo styles in header and footer*/
.logo {
  margin-right: 93px;
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header {
  color: var(--secondary-color);
}
.logo-footer {
  color: var(--font-bg-color);
}

/* navbox and authnav in header*/
.navbox {
  display: flex;
  align-items: center;
}
.navbox.authnav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
/* .navbox .item {
} */

.navbox .item:not(:last-child) {
  margin-right: 50px;
}
.navbox .nav-link {
  color: var(--secondary-color);
}
.navbox .nav-link:hover,
.navbox .nav-link:focus {
  color: var(--accent-color);
}
.navbox .nav-link.current {
  color: var(--accent-color);
}
/* header links list */
.authnav {
  display: flex;
  margin-left: auto;
}
.authnav .item:not(:last-child) {
  margin-right: 50px;
}
.authnav-link {
  color: var(--theme-color);
}
.authnav-link:hover,
.authnav-link:focus {
  color: var(--accent-color);
}
/* Studio page */

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--bg-color-add);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-transform: uppercase;
  color: var(--font-bg-color);
}
.hero .button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent-color);
}
.hero .button:hover,
.hero .button:focus {
  --accent-color: #188ce8;
  background-color: var(--accent-color);
}
/* features section */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-primary);
}
.features-title {
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}
.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.features-section p {
  margin-top: 0;
  margin-bottom: 0;
}
/* activities section */
.activ-section {
  padding-bottom: 94px;
}
.activ-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* team members section */
.members-section {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-secondary);
}
.members-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  color: var(--secondary-color);
}
.members-item {
  background-color: var(--font-bg-color);
}
.members-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  color: var(--secondary-color);
}
/* Portfolio page */

.projects-title {
  visibility: hidden;
}
.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
  cursor: pointer;
}
.filter .button:hover,
.filter .button:focus {
  color: var(--font-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
.project-item {
  background-color: var(--font-bg-color);
}
.project-item .caption {
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.project-item .desc {
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}
/* footer */
.footer {
  background-color: var(--bg-color-add);
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--font-bg-color);
}
.footer-link {
  color: var(--footer-links-color);
}
